<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        I am the header
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        I am the footer
    </footer>
</body>
</html>
